<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ORCodeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D82E2F7D1EA59DCF00B5A13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82E2F961EA59DCF00B5A13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82E2FA11EA59DCF00B5A13D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
